body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}


/* Barra de navegación */

.navbar {
    background: #222;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 70%;
    width: auto;
}

.carousel-item {
    text-align: center;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}